  <section id="clubs" class="clubs clearfix">

    {% assign data = site.data.clubs %}
    <!-- === Clubs === -->
    <div class="container">
      <div class="row">

        <div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
          <h2>{{ data.title }}</h2>
          <div class="devider"><i class="fa fa-{{ data.icon }} fa-lg"></i></div>
        </div>

        <div class="sec-sub-title text-center wow fadeInRight animated" data-wow-duration="500ms">
          <p>{{ data.intro | markdownify }}</p>
        </div>

        {% for club in data.clubs %}
          <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="100ms">
            <div class="member-thumb">
              <img src="/assets/media/clubs/{{ club.title|lower|cut:" " }}.jpg" alt="{{ club.name }}" class="img-responsive center-block">
              <figcaption class="overlay">
                <h5>{{ club.title }}</h5>
                <ul class="social-links text-center">
                  <li><a href="https://twitter.com/{{ club.tw }}"><i class="fa fa-twitter fa-lg"></i></a></li>
                  <li><a href="https://facebook.com/{{ club.fb }}"><i class="fa fa-facebook fa-lg"></i></a></li>
                  <li><a href="https://linkedin.com/{{ club.in }}"><i class="fa fa-linkedin fa-lg"></i></a></li>
                </ul>
              </figcaption>
            </div>
            <h4>{{ club.title }}</h4>
            <span>{{ club.desc | markdownify }}</span>
          </figure>
        {% endfor %}

      </div>
    </div>
   </div>

  {% if data.outro %}
    <div class="sec-title text-center">
      <p>{{ data.outro | markdownify }}</p>
    </div>
  {% endif %}

  </section>
