  <section id="{{ include.id }}" class="clubs clearfix">

    {% assign data = site.data.clubs %}
    <!-- === Clubs === -->
    <div class="container">
      <div class="row">

        <div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
          <h2>{{ data.title }}</h2>
          <div class="devider"><i class="fa fa-{{ data.icon }} fa-lg"></i></div>
        </div>

        <div class="sec-sub-title text-center wow fadeInRight animated" data-wow-duration="500ms">
          <p>{{ data.intro | markdownify }}</p>
        </div>

        {% assign clubs =  site.clubs | sort: 'slug' %}
        {% for club in clubs %}
          <figure class="team-member col-md-3 col-sm-6 col-xs-6 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="100ms">
            <div class="member-thumb">
              <img src="{% unless club.logo contains 'assets' %}/assets/media/clubs/{% endunless %}{{ club.logo }}" alt="{{ club.name }}" class="img-responsive center-block">
              <h4>{{ club.title }}</h4>

              <figcaption class="overlay" data-toggle="modal" data-target="#{{ club.slug }}Modal">
                <div class="text-center mt25">
                  <h5>{{ club.title }}</h5>
	              <i class="fa fa-info fa-lg"></i>
                  <p>{{ data.details }}</p>
                </div>
              </figcaption>

            </div>
          </figure>

          <div class="modal fade" id="{{ club.slug }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ club.slug }}ModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content"> 
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="{{ club.slug }}ModalLabel">{{ club.title }}</h4>
                  <p>{{ club.tagline | markdownify }}</p>
                </div>
                <div class="modal-body">
                  {% if club.image %}<img src="{% unless club.image contains 'assets' %}/assets/media/{% endunless %}{{ club.image }}" alt="{{ club.title }}" class="img-responsive center-block" />{% endif %}
        		  <br/>
                  {% if club.desc != '' %}<p>{{ club.desc | markdownify }}</p>{% endif %}
                  {% if club.committee[0] %}<h4>{{ data.committee }}</h4>{% endif %}
                  {% for member in club.committee %}
                    <div class="btn-group">
                      <div class="btn btn-default">
                      {% if member.photo %}<img src="{% unless member.photo contains 'assets' %}/assets/media/{% endunless %}{{ member.photo }}" alt="{{ member.name }}" class="img-responsive img-circle center-block" />{% endif %}
                      <h5>{{ member.name }}</h5>
                      <small>{{ site.data.titles[member.title] }}</small>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                {% if club.sns %}
                <div class="modal-footer">
                  <ul class="social-links text-center">
                    <li><a href="https://twitter.com/{{ club.sns.tw }}"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li><a href="https://facebook.com/{{ club.sns.fb }}"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li><a href="https://linkedin.com/{{ club.sns.in }}"><i class="fa fa-linkedin fa-lg"></i></a></li>
                  </ul>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
   </div>

  {% if data.outro %}
    <div class="sec-title text-center">
      <p>{{ data.outro | markdownify }}</p>
    </div>
  {% endif %}

  </section>
