  <section id="{{ include.id }}" class="contact">
    <div class="container">
      <div class="row mb50">
	<div class="sec-title text-center mb50 wow fadeInDown animated" data-wow-duration="500ms">
		<h2>{{ site.data.contact.title }}</h2>
		<div class="devider"><i class="fa fa-envelope-o fa-lg"></i>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<i class="fa fa-facebook fa-lg"></i></div>
	</div>

	<div class="col-md-8 col-xs-12">

	  <div class="sec-sub-title text-center wow rubberBand animated" data-wow-duration="1000ms">
	    <p>{{ site.data.contact.intro }}</p>
	  </div>
	
	  <!-- contact form -->
	  <div class="col-xs-10 wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="300ms">
		<div class="contact-form">
			<h3>{{ site.data.contact.form.title }}</h3>
			<form action="#" id="contact-form">
				<div class="input-group name-email">
					<div class="input-field">
						<input type="text" name="name" id="name" placeholder="{{ site.data.contact.form.name }}" class="form-control">
					</div>
					<div class="input-field">
						<input type="email" name="email" id="email" placeholder="{{ site.data.contact.form.email }}" class="form-control">
					</div>
				</div>
				<div class="input-group">
					<textarea name="message" id="message" placeholder="{{ site.data.contact.form.message }}" class="form-control"></textarea>
				</div>
				<div class="input-group">
					<button type="submit" id="form-submit" class="pull-right"><i class="fa fa-envelope-o fa-lg"></i>&nbsp;&nbsp;{{ site.data.contact.form.button }}</button>
				</div>
			</form>
		</div>
	  </div>
	  <!-- end contact form -->
	
	  <!-- contact address -->
	  <div class="col-xs-12 clearfix wow fadeInLeft animated mt50" data-wow-duration="500ms">
            {% for l in site.data.contact.links %}
	    <div class="col-md-6 col-xs-12">
              <h3>{{ l.title }}</h3>
              {% for e in l.elements %}
                <p><i class="fa fa-{{ e.icon }}"></i>&nbsp;<a href="{{ e.url }}" target="_blank">{{ e.name }}</a></p>
              {% endfor %}
            </div>
            {% endfor %}
	  </div>
	  <!-- end contact address -->

	</div>

        <div class="col-md-3 col-xs-11">
          {% if site.data.contact.fb.intro %}
          <div class="sec-sub-title text-center">
            <p>{{ site.data.contact.fb.intro | markdownify }}</p>
          </div>
          {% endif %}


          <div class="work-filter wow fadeInRight animated" data-wow-duration="1000ms">
            <!-- facebook page-plugin -->
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffiftyone.district104%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          </div>

          {% if site.data.contact.fb.outro %}
          <div class="sec-title text-center">
            <p>{{ site.data.contact.fb.outro | markdownify }}</p>
          </div>
          {% endif %}
        </div>

        <div class="col-xs-1 wow fadeInRight animated" data-wow-duration="500ms" data-wow-delay="600ms">
          <br/>
          <br/>
	  <a href="https://www.facebook.com/fiftyone.district104/"><i class="fa fa-facebook fa-2x"></i></a>
	</div>

      </div>
    </div>
	
</section>
	
