
<div id="donation" class="facts">
  <div class="parallax-overlay">
	<div class="container">
		<div class="row number-counters">
				
			<div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
				<h2>SOUTENEZ-NOUS DANS NOS ACTIONS SOCIALES
					<br/>FAITES UN DON!</h2>
				<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
			</div>
						
			<!-- first count item -->
			<div class="col-xs-12 text-center wow fadeInUp animated" data-wow-duration="200ms">
				<div class="counters-item">
					<i class="fa fa-bank fa-3x"></i>
					<p>"ACTIONS SOCIALES DU FOI - DISTRICT 104"</p>
					<p><em>BIL - LU71 0021 1111 4480 0000</em></p>
				</div>
			</div>

		</div>
	</div>
  </div>
</div>

