    {% if site.data.contact.fb.intro %}
      <div class="sec-sub-title text-center">
        <p>{{ site.data.contact.fb.intro | markdownify }}</p>
      </div>
    {% endif %}


    <div class="work-filter wow fadeInRight animated" data-wow-duration="1000ms">
      <!-- facebook page-plugin -->
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffiftyone.district104%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>

    {% if site.data.contact.fb.outro %}
      <div class="sec-title text-center">
        <p>{{ site.data.contact.fb.outro | markdownify }}</p>
      </div>
    {% endif %}

