  <section id="{{ include.id }}" class="facts clearfix">

    {% assign data = site.data.facts %}
    <!-- === Facts === -->
    <div class="parallax-overlay">
      <div class="container">
	<div class="row number-counters">
				
	  <div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
	    <h2>{{ data.title }}</h2>
	    <div class="devider"><i class="fa fa-{{ data.icon }} fa-lg"></i></div>
	  </div>
						
          {% for fact in data.facts %}
	    <!-- first count item -->
	    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
	      <div class="counters-item">
                <i class="fa fa-{{ fact.icon }} fa-3x"></i>
		<strong data-to="{{ fact.number }}">0</strong>
		<p>{{ fact.title }}</p>
              </div>
	    </div>
          {% endfor %}

        </div>
      </div>
    </div>

  {% if data.outro %}
    <div class="sec-title text-center">
      <p>{{ data.outro | markdownify }}</p>
    </div>
  {% endif %}

  </section>
