  <section id="features" class="features clearfix">

    <!-- === Features === -->
    <div class="container">
      <div class="row">
        <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
          <h2>{{ include.data.title }}</h2>
          <div class="devider"><i class="fa fa-{{ include.data.icon }} fa-lg"></i></div>
        </div>
      </div>

      {% for feature in include.data.features %}
	<div class="col-xs-12 col-md-6 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="200ms">
	  <div class="service-item">
	    <div class="service-icon">
	      <i class="fa fa-{{ feature.icon }} fa-2x"></i>
	    </div>
		
	    <div class="service-desc">
              <h3>{{ feature.title }}</h3>
	      <p>{{ feature.body | markdownify }}</p>
              <br/>
	    </div>

	  </div>
        </div>
      {% endfor %}

    </div>

  {% if include.data.outro %}
    <div class="sec-title text-center">
      <p>{{ include.data.outro | markdownify }}</p>
    </div>
  {% endif %}

  </section>
