  <section id="{{ include.id }}" class="team clearfix">

    <!-- === District === -->
    <div class="container">
      <div class="row">

        <div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
          <h2>{{ include.data.title }}</h2>
          <div class="devider"><i class="fa fa-{{ include.data.icon }} fa-lg"></i></div>
        </div>

       <div class="sec-sub-title text-center wow fadeInRight animated" data-wow-duration="500ms">
          <p>{{ include.data.intro | markdownify }}</p>
          <br />
          <img class="img-thumnbail" height="300" src="/assets/media/{{ include.data.logo }}"/>
        </div>

        <div class="col-md-1"></div>
        {% for member in include.data.committee %}
          <figure class="team-member col-md-2 col-sm-6 col-xs-6 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
            <div class="member-thumb">
              <img src="/assets/media/{{ member.photo }}" alt="{{ member.name }}" class="img-responsive img-circle center-block">
              {% if member.message %} 
                <figcaption class="overlay" data-toggle="modal" data-target="#{{ member.title }}Modal">
                  <em>{{ member.message }}</em>
                </figcaption>
                {% else %} 
                <figcaption class="overlay">
                  <h5>{{ member.name }}</h5>
                  <p>{{ site.data.titles[member.title] }}</p>
                </figcaption>
                {% endif %} 
            </div>
            <h4>{{ member.name }}</h4>
            <span>{{ site.data.titles[member.title] }}</span>
          </figure>

          <div class="modal fade" id="{{ member.title }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ member.title }}ModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content"> 
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="{{ member.title }}ModalLabel">{{ member.name }} - <strong>{{ site.data.titles[member.title] }}</strong></h4>
                  <p>{{ member.message }}</p>
                </div>
                <div class="modal-body row">
                  {% if member.video %} 
                  <div align="center" class="embed-responsive embed-responsive-16by9">
                    <video controls class="embed-responsive-item">
                      <source src="{{ member.video }}" type="video/mp4">
                    </video>
                   </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="col-md-1"></div>

      </div>
    </div>

  {% if include.data.outro %}
    <div class="sec-title text-center">
      <p>{{ include.data.outro | markdownify }}</p>
    </div>
  {% endif %}

  </section>
