.mt25 {
	margin-top: 25px;
}
.mt50 {
	margin-top: 50px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
/*
.features .col-md-6 {
  min-height: 575px;
}
*/
.work-item {
  overflow: hidden;
  height: 280px;
}
a.fancybox {
  color: #fff;
}
.team-member {
  height: 300px;
}
.member-thumb {
  height: 250px;
}

.modal .social-links li a {
  color: #337ab7;
}

/*=========================================
	Slider
==========================================*/

#slider {
	padding: 0;
}

#slider .carousel-inner .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.carousel-caption {
  position: relative;
  top: 20%;
  bottom: 10%;
  left:0; right:0;
}

.carousel-caption h2 {
  font-size: 62px;
  font-weight: 300;
  margin: 0 6px;
}

.carousel-caption h2 span {
  font-weight: 800;
}

.carousel-caption h3 {
  font-size: 48px;
  font-weight: 300;
  margin: 6px 0 6px;
}

.carousel-caption p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.carousel-caption p:before,
.carousel-caption p:after {
color: #337ab7;
content: "___";
position: relative;
top: -8px;
}

.carousel-caption p:before {
  right: 20px;
}

.carousel-caption p:after {
  left: 20px;
}

.social-links {
  margin-top: 5%;
}

.social-links li {
	display: inline-block;
}

.social-links li a {
  color: rgba(255, 255, 255, 0.3);
  display: block;
  margin: 0 6px;
}

.social-links li a:hover {
  color: #fff;
}

.carousel-indicators {
  bottom: 10px;
  left: inherit;
  margin: 0;
  right: 30px;
  top: 49%;
  width: 0;
}

.carousel-indicators li {
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 8px;
  width: 8px;
}

.carousel-indicators .active {
  height: 8px;
  width: 8px;
}


