.mt25 {
	margin-top: 25px;
}
.mt50 {
	margin-top: 50px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.service-item {
  min-height: 300px;
}
.work-item {
  overflow: hidden;
  height: 280px;
}
a.fancybox {
  color: #fff;
}
.team-member {
  height: 300px;
}
.member-thumb {
  height: 200px;
}
