.mt25 {
	margin-top: 25px;
}
.mt50 {
	margin-top: 50px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.service-item {
  min-height: 280px;
}
.work-item {
  min-height: 280px;
}
a.fancybox {
  color: #fff;
}
.team-member {
  min-height: 310px;
}
