{% include head.html %}

  <body class="{{ page.css }}">
	
	<!-- preloader -->
	<div id="preloader">
		<img src="{{ '/assets/media/preloader.gif' }}" alt="Preloader">
	</div>
	<!-- end preloader -->

        <!-- Main (fixed) Navgigation -->
	{% include navigation.html %}

        <!-- Slider -->
	{% include slider.html %}

        <!-- don -->
	{% include don.html %}

        <!-- Content -->
        {{ content }}

        <!-- Javascripts -->
	{% include javascripts.html %}
		
    </body>
</html>
