{% include "head.html" %}

  <body class="{{ page.css }}">
	
	<!-- preloader -->
	<div id="preloader">
		<img src="{{ '/assets/media/preloader.gif' }}" alt="Preloader">
	</div>
	<!-- end preloader -->

        <!-- Main (fixed) Navgigation -->
	{% include "navigation.html" %}

        <!-- Slider -->
	{% include "slider.html" %}

        <!-- don -->
	{% include "don.html" %}

        <!-- Content -->
        {{ content }}

<!-- facebook page-plugin -->
<!--
<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffiftyone.district104%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
-->

        <!-- contact -->
	{% include "contact.html" %}

        <!-- Javascripts -->
	{% include "javascripts.html" %}
		
    </body>
</html>
