{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-home{% endblock %}

{% block slider %}

  <!-- === Slider === -->
  <section id="slider">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators bullet -->
      <ol class="carousel-indicators">
        {% for slide in slides %}
          <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <!-- End Indicators bullet -->				
	
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

      {% for slide in slides %}

        <!-- single slide -->
        {% image slide.specific.image original as s_image %}
	<div class="item {% if forloop.first %}active{% endif %}" style="background-image: url({{ s_image.url }});">
	  <div class="carousel-caption">
	    <h2 data-wow-duration="700ms" data-wow-delay="500ms" class="wow bounceInDown animated">{{ slide.title }}</h2>
	    <h3 data-wow-duration="1000ms" class="wow slideInLeft animated"><span class="color">{{ slide.specific.tagline }}</h3>
	    {% if slide.specific.desc %}<p data-wow-duration="1000ms" class="wow slideInRight animated">{{ slide.specific.desc | richtext }}</p>{% endif %}
	  </div>
	</div>
	<!-- end single slide -->

      {% endfor %}

      </div>
    </div>
  </section>

{% endblock %}

{% block content %}

  {% for section in sections %}

  <section id="{{ section.specific.type }}" class="{{ section.specific.type }} clearfix">

  {% if section.specific.type == "features" %}
    <!-- === Features === -->
    <div class="container">
      <div class="row">
        <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
          <h2>{{ section.title }}</h2>
          <div class="devider"><i class="fa fa-{{ section.specific.icon }} fa-lg"></i></div>
        </div>
      </div>

      {% for feature in section.specific.get_features %}
	<div class="col-xs-12 col-md-6 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="{% widthratio forloop.count 1 200 %}ms">
	  <div class="service-item">
	    <div class="service-icon">
	      <i class="fa fa-{{ feature.specific.icon }} fa-2x"></i>
	    </div>
		
	    <div class="service-desc">
              <h3>{{ feature.title }}</h3>
	      <p>{{ feature.specific.body | richtext }}</p>
              <br/>
	    </div>

	  </div>
        </div>
      {% endfor %}

    </div>
  {% endif %}

  {% if section.specific.type == "actions" %}
    <!-- === Actions === -->
    <div class="container">
      <div class="row">
        <div class="sec-title text-center">
          <h2>{{ section.title }}</h2>
          <div class="devider"><i class="fa fa-{{ section.specific.icon }} fa-lg"></i></div>
        </div>

        <div class="sec-sub-title text-center">
          <p>{{ section.specific.intro | richtext }}</p>
        </div>

        <div class="work-filter wow fadeInRight animated" data-wow-duration="500ms">
          <ul class="text-center">
            <li><a href="javascript:;" data-filter="all" class="active filter">Tous</a></li>
            {% for action in section.specific.get_actions %}
              <li><a href="javascript:;" data-filter=".{{ action.specific.slug }}" class="filter">{{ action.specific.who }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
 
    <div class="project-wrapper">

      {% for action in section.specific.get_actions %}
        <figure class="mix work-item {{ action.specific.slug }}">
	  {% image action.specific.photo original as f_photo %}
	  <img src="{{ f_photo.url }}" alt="{{ action.title }}"/>
	    <figcaption class="overlay">
	      <a class="fancybox" rel="works" title="{{ action.title }}" href="{{ f_photo.url }}"><i class="fa fa-eye fa-lg"></i></a>
	      <h4>{{ action.title }}</h4>
	      <p>{{ action.specific.who }}</p>
	    </figcaption>
	</figure>
      {% endfor %}

    </div>
				
  {% endif %}

  {% if section.specific.type == "team" %}
    <!-- === District === -->
    <div class="container">
      <div class="row">

        <div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
          <h2>{{ section.title }}</h2>
          <div class="devider"><i class="fa fa-{{ section.specific.icon }} fa-lg"></i></div>
        </div>

        <div class="sec-sub-title text-center wow fadeInRight animated" data-wow-duration="500ms">
          <p>{{ section.specific.intro | richtext }}</p>
        </div>

        {% for member in section.specific.get_team %}
          <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="{% widthratio forloop.count 1 300 %}ms">
            <div class="member-thumb">
	      {% image member.specific.photo original as t_photo %}
              <img src="{{ t_photo.url }}" alt="{{ member.specific.name }}" class="img-responsive img-circle center-block">
              <figcaption class="overlay">
                <h5>{{ member.specific.intro }}</h5>
                <p>{{ member.specific.desc | richtext }}</p>
                <ul class="social-links text-center">
                  <li><a href="https://twitter.com/{{ member.specific.tw }}"><i class="fa fa-twitter fa-lg"></i></a></li>
                  <li><a href="https://facebook.com/{{ member.specific.fb }}"><i class="fa fa-facebook fa-lg"></i></a></li>
                  <li><a href="https://linkedin.com/{{ member.specific.in }}"><i class="fa fa-linkedin fa-lg"></i></a></li>
                </ul>
              </figcaption>
            </div>
            <h4>{{ member.specific.name }}</h4>
            <span>{{ member.title }}</span>
          </figure>
        {% endfor %}

      </div>
    </div>
  {% endif %}

  {% if section.specific.type == "clubs" %}
    <!-- === Clubs === -->
    <div class="container">
      <div class="row">

        <div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
          <h2>{{ section.title }}</h2>
          <div class="devider"><i class="fa fa-{{ section.specific.icon }} fa-lg"></i></div>
        </div>

        <div class="sec-sub-title text-center wow fadeInRight animated" data-wow-duration="500ms">
          <p>{{ section.specific.intro | richtext }}</p>
        </div>

        {% for club in section.specific.get_clubs %}
          <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="{% widthratio forloop.count 1 100 %}ms">
            <div class="member-thumb">
	      {% image club.specific.photo original as t_photo %}
              <img src="{% static '/img/clubs/' %}{{ club.title|lower|cut:" " }}.jpg" alt="{{ club.specific.name }}" class="img-responsive center-block">
              <figcaption class="overlay">
                <h5>{{ club.title | title }}</h5>
                <ul class="social-links text-center">
                  <li><a href="https://twitter.com/{{ club.specific.tw }}"><i class="fa fa-twitter fa-lg"></i></a></li>
                  <li><a href="https://facebook.com/{{ club.specific.fb }}"><i class="fa fa-facebook fa-lg"></i></a></li>
                  <li><a href="https://linkedin.com/{{ club.specific.in }}"><i class="fa fa-linkedin fa-lg"></i></a></li>
                </ul>
              </figcaption>
            </div>
            <h4>{{ club.title | title }}</h4>
            <span>{{ club.specific.desc | richtext }}</span>
          </figure>
        {% endfor %}

      </div>
    </div>
  {% endif %}

  {% if section.specific.type == "facts" %}
    <!-- === Facts === -->
    <div class="parallax-overlay">
      <div class="container">
	<div class="row number-counters">
				
	  <div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
	    <h2>{{ section.title }}</h2>
	    <div class="devider"><i class="fa fa-{{ section.specific.icon }} fa-lg"></i></div>
	  </div>
						
          {% for fact in section.specific.get_facts %}
	    <!-- first count item -->
	    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="{% widthratio forloop.count 1 300 %}ms">
	      <div class="counters-item">
                <i class="fa fa-{{ fact.specific.icon }} fa-3x"></i>
		<strong data-to="{{ fact.specific.number }}">0</strong>
		<p>{{ fact.title }}</p>
              </div>
	    </div>
          {% endfor %}

        </div>
      </div>
    </div>
  {% endif %}

    <div class="sec-title text-center">
      <p>{{ section.specific.outro | richtext }}</p>
    </div>

  </section>
  {% endfor %}

{% endblock %}
